

.searchWrapper {
  position: relative;
  width: 300px;
}

.searchInput {
  width: 100%;
  padding-left: 40px !important; /* space for icon */
  height: 42px;
}

.searchIcon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
  font-size: 14px;
  z-index: 10;
  pointer-events: none;
}

.tableHeader th {
  background-color: #315951E5 !important;
  color: white;
  border: none;
}

.statusBadge {
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  min-width: 90px;
  text-align: center;
  border: 2px solid;
}

.statusTodo {
  color: #fbfbf7;
  border-color: #948e84;
  background-color: #c7c4bf;
}

.statusProgress {
  color: #fffefd;
  border-color: #fbc923;
  background-color: #f79d20;
}

.statusDone {
  color: #f5f8f6;
  border-color: #16a34a;
  background-color: #24a066;
}

.statusDefault {
  color: #6b7280;
  border-color: #6b7280;
  background-color: #f3f4f6;
}

  

/* استهداف زرار الإضافة داخل الهيدر */
header button, 
.header-wrapper button {
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

/* لما تكون الشاشة أصغر من 1200px (وقت ما السايدبار بياخد مساحة) */
@media (max-width: 1200px) {
    header button, 
    .header-wrapper button {
        padding: 8px 15px !important; /* تقليل المسافات الداخلية */
        font-size: 20px !important;    /* تصغير الخط سيكا */
        transform: scale(0.9);         /* تصغير الحجم ككل بنسبة 10% */
        transform-origin: right;       /* التصغير يكون ناحية اليمين */
    }
}

/* في الشاشات الأصغر (الموبايل) */
@media (max-width: 768px) {
    header button, 
    .header-wrapper button {
        padding: 5px 10px !important;
        font-size: 20px !important;
        transform: scale(0.85);
    }
}